src/main/resources/contract.wsdl

<wsdl:definitions xmlns="http://ln.presentation.com/CreditApp/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://ln.presentation.com/CreditApp/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://ln.presentation.com/CreditApp/">
            <s:element name="CretitApplication">
                <s:complexType>
                    <s:sequence>
                        <s:element name="uuid" type="s:string"/>
                        <s:element name="amount" type="s:decimal"/>
                        <s:element name="name" type="s:string"/>
                        <s:element name="surname" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="AddNewCreditAppIn">
        <wsdl:part name="parameters" element="CretitApplication"/>
    </wsdl:message>
    <wsdl:message name="AddNewCreditAppOut">
        <wsdl:part name="parameters" type="s:string"/>
    </wsdl:message>

    <wsdl:portType name="CreditAppSoap">
        <wsdl:operation name="AddNewCreditApp">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add new Credit application
            </wsdl:documentation>
            <wsdl:input message="AddNewCreditAppIn"/>
            <wsdl:output message="AddNewCreditAppOut"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CreditSoap" type="CreditAppSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="AddNewCreditApp">
            <soap:operation soapAction="http://ws.cdyne.com/WeatherWS/GetWeatherInformation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CreditAppService">
        <wsdl:documentation>WSDL File for HelloService</wsdl:documentation>
        <wsdl:port binding="CreditSoap" name="CreditPort">
            <soap:address
                    location="http://localhost:8080/ws/CreditApp/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>